body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightcoral;
  text-align: center;
  box-sizing: border-box;
}
.container{
  padding: 20px;
}
h1{
  font-size: 2rem;
  text-shadow: 0 0 2px rgba(255,255,255);
}
.emoji{
  padding: 10px;
}
.btn{
  padding: 20px;
  font-size: 50px;
  background-color: rgba(255,255,255,.2);
  border: none;
  cursor: pointer;
  transition: .3s;
  margin: 20px 0px 10px 0px;
}
.btn:hover{
  background-color: rgba(255,255,255,.4);
}
p{
  font-size: 18px;
}